body {
	font-family: 'Oswald', sans-serif;
	background-image: url('/fondo_formulario.jpg');
	background-size: cover;
  	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	flex-direction: column;
}

h1 {
	color: white;
	font-family: 'Oswald', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-container {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.search-container input[type="number"],
.search-container input[type="text"],
.search-container button {
	width: 95%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-size: 16px;
}

.search-container input[type="number"],
.search-container input[type="text"] {
	background-color: #fafafa;
}

.search-container button {
	background-color: #007BFF;
	color: #ffffff;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-family: 'Bebas Neue', cursive;
	font-size: 18px;
}

.search-container button:hover {
	background-color: #0056b3;
}

.search-container label {
	font-weight: 600;
	margin-top: 10px;
}

a {
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: rgb(255, 128, 128);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

a:hover {
	background-color: rgb(255, 100, 100);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}