<!DOCTYPE html>
<html lang="es">

<head>
	<link rel="stylesheet" href="/css/infoVueloReservado.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<title>Hotel Ejemplo</title>
</head>

<body>
	<span class="icono">&#127881;</span>
		<h1>¡Se ha reservado el vuelo + hotel con éxito!</h1>
	<a href="/inicio">Volver a inicio </a>
	</div>
</body>
</html>